/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* login form STARTS */

body .login-container {
  background: url("./img/flower-backround.jpg");
  background-size: cover;
  background-position: center;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.wrapper {
  width: 420px;
  background: transparent;
  border: 2px solid rgba(210, 29, 56, 0.2);
  backdrop-filter: blur(7px);
  box-shadow: 0 0 52px rgba(0, 0, 0, 0.27);
  color: #fff;
  border-radius: 10px;
  padding: 30px 40px;
}

.wrapper h1 {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  color: #d21d385e;
}

.wrapper .input-box {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 30px 0;
}

.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid rgba(210, 29, 56, 0.2);
  border-radius: 40px;
  font-size: 16px;
  color: #fff;
  padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
  color: #fff;
}

.input-box i {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
}

.wrapper .btn {
  width: 100%;
  height: 45px;
  background: #fff;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 16px;
  color: #333;
  font-weight: 600;
}

.wrapper .register-link {
  font-size: 14.5px;
  text-align: center;
  margin: 20px 0 15px;
}

.register-link p a {
  color: #510;
  text-decoration: none;
  font-weight: 600;
}

.wrapper p {
  color: #d21d385e;
}

.register-link p a:hover {
  text-decoration: underline;
}

/* loginstyle END */
/*----------------------------------*/
/* content body on Home STARTS*/

@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@1&display=swap');

.content-img {
  background: url('./img/sky.jpg');
  background-size: cover;
  background-position: right;
  height: 100vh;
}

.content-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blog-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: blueviolet;
  width: auto;
  height: auto;
  margin-top: 40px;
  border: 2px solid rgba(210, 29, 189, 0.2);
  border-radius: 10px;
  padding: 50px;
  background: transparent;
  backdrop-filter: blur(10px);
}

.blog-container a {
  color: #fff;
  font-family: 'Libre Baskerville', serif;
}

.blog-title {
  margin: 5px;
}


/* ENDS */
/*----------------------------------*/
/* nav bar STARTS */

.nav-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('./img/pink-flower.jpg');
  background-size: cover;
  width: 100%;
  height: 70px;
}

.nav-bar a, .nav-bar button {
  display: block;
  color: #fff;
  padding: 5px;
  text-decoration: none;
  font-family: 'Roboto Slab', serif;
}

.list button {
  height: 31px;
}

.list {
  display: inline-flex;
  align-items: center;
  margin: 0 5px;
  background: rgba(255, 218, 185, 0.511);
  height: auto;
  border-radius: 6px;
  text-align: center;
}

.logout-button {
  cursor: pointer;
  border: none;
  background: none;
}

.nav-bar button:hover, .nav-bar a:hover {
  color: rgba(255, 183, 236, 0.737);
}

.nav-bar li:hover {
  background: peachpuff; 
}


/* nav bar ENDS */
/*----------------------------------*/
/* greetings STARTS */

/* greetings ENDS */
/*----------------------------------*/
/* blogform STARTS */

.blogform-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  border: 2px solid rgba(210, 29, 56, 0.2);
  border-radius: 10px;
  background: purple;
}

.blogform-container input {
  border-radius: 5px;
  border: none;
  color: #333;
  font-size: 17px;
}

.blogform-container div {
  padding: 3px;
}

.create-new-header {
  color: peachpuff;
}

.blogform-container input::placeholder {
  color: peachpuff;
  opacity: 60%;
  padding-left: 5px;
}
