* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.content-body {
  padding: 0rem 1rem;
}

.error-message {
  color: red;
  border-radius: 8px;
  border: 4px solid red;
  padding: 0.101em;
  margin-bottom: 8px;
  background-color: lightgrey;
}

.success-message {
  color: green;
  border-radius: 8px;
  border: 4px solid green;
  padding: 0.101em;
  background-color: lightgrey;
}

.table-container {
  border: 1px solid #ccc;
  margin-bottom: 16px;
  padding: 16px;
}

.container {
  border: 1px solid #ccc;
  margin-bottom: 6px;
  padding: 5px;
}

.success-message,
.error-message {
  font-size: 28px;
}

.logged-in {
  font-weight: bold;
  margin: 0px 0px 20px 0px;
}

.create-btn {
  margin: 10px 0px 0px 0px;
}

#viewing-model {
  margin: 3px 0px 5px 0px;
  border: 1px solid black;
  padding: 0.101em;
  border-radius: 2px;
}

.view-btn,
.hide-btn,
.like-btn {
  margin-left: 4px;
}

.nav {
  background-color: #333;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding: 0rem 1rem;
}

.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav a,
.nav button {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0.25rem;
  font-size: 1rem;
}

.logout-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-family: "Times New Roman", serif;
}

.active {
  background-color: #555;
}

.nav li:hover,
.active:hover {
  background-color: #777;
}

.login-btn {
}

.login-backround {
  background-color: black;
}

.login-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 20%;
}

.login-button {
  margin: 50px;
}
