/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* login form STARTS */

body {
  background: url("./img/flower-backround.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.wrapper {
  width: 420px;
  background: transparent;
  border: 2px solid rgba(210, 29, 56, 0.2);
  backdrop-filter: blur(7px);
  box-shadow: 0 0 52px rgba(0, 0, 0, 0.27);
  color: #fff;
  border-radius: 10px;
  padding: 30px 40px;
}

.wrapper h1 {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  color: #d21d385e;
}

.wrapper .input-box {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 30px 0;
}

.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid rgba(210, 29, 56, 0.2);
  border-radius: 40px;
  font-size: 16px;
  color: #fff;
  padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
  color: #fff;
}

.input-box i {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
}

.wrapper .btn {
  width: 100%;
  height: 45px;
  background: #fff;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 16px;
  color: #333;
  font-weight: 600;
}

.wrapper .register-link {
  font-size: 14.5px;
  text-align: center;
  margin: 20px 0 15px;
}

.register-link p a {
  color: #510;
  text-decoration: none;
  font-weight: 600;
}

.wrapper p {
  color: #d21d385e;
}

.register-link p a:hover {
  text-decoration: underline;
}

/* loginstyle END */
/*----------------------------------*/
/* content body on Home STARTS*/

@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@1&display=swap');

.content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blog-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
  height: auto;
  margin-top: 40px;
  border: 2px solid rgba(210, 29, 189, 0.2);
  border-radius: 10px;
  padding: 50px;
  background: transparent;
  backdrop-filter: blur(7px);
}

.blog-container a {
  color: #464646c7;
  font-family: 'Libre Baskerville', serif;
}

.blog-title {
  margin: 5px;
}

.blog-container a:visited {
  color:rgba(207, 123, 185, 0.907);
}


/* ENDS */
/*----------------------------------*/
/* nav bar STARTS */

.nav-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;
}

.nav-bar a, .nav-bar button {
  display: block;
  color: #fff;
  padding: 5px;
  text-decoration: none;
  font-family: 'Roboto Slab', serif;
}

.list button {
  height: 31px;
}

.list {
  display: inline-flex;
  align-items: center;
  margin: 0 5px;
  background: rgba(234, 185, 255, 0.511);
  height: auto;
  border-radius: 6px;
  text-align: center;
  box-shadow: 2px 3px #333;
}

.logout-button {
  cursor: pointer;
  border: none;
  background: none;
}

.nav-bar button:hover, .nav-bar a:hover {
  color: rgba(255, 183, 236, 0.737);
}

.nav-bar li:hover {
  background: peachpuff;
  box-shadow: none;
}


/* nav bar ENDS */
/*----------------------------------*/
/* Header STARTS HOMEPAGE*/

@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

.header-home {
  font-family: 'Lora', serif;
  color: rgba(255, 183, 236, 0.923);
  text-shadow: 2px 1px #78787881;
}
/* Header ENDS HOMEPAGE*/
/*----------------------------------*/
/* greetings STARTS */

.greetings {
  text-align: center;
  padding: 10px 0px;
  font-family: 'Lora', serif;
}

/* greetings ENDS */
/*----------------------------------*/
/* blogform STARTS */

@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400&display=swap');

.blogform-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  border-radius: 10px;
  background: transparent;
  backdrop-filter: blur(.5px);
}

.blogform-container input {
  border-radius: 5px;
  border: none;
  font-size: 17px; 
  outline: none;
  font-family: 'Dosis', sans-serif;
}

.blogform-container div {
  padding: 3px;
}

.blogform-container input::placeholder {
  color: #333;
  font-family: 'Dosis', sans-serif;
}

.create-cancel-button {
  display: flex;
  justify-content: space-between;
}

.blogform-container button {
  background: none;
  border: -2rem;
  padding: 4px;
  box-shadow: 2px 2px #510;
  border-radius: 0.3em;
  border-color: rgba(131, 158, 211, 0.461);
}

.blogform-container button:hover {
  background-color: #fff;
  border: 0;
  box-shadow: none;
}

.create-new-button {
  border: none;
  padding: 6px;
  border-radius: 5px;
  background-color: rgba(104, 207, 207, 0.289);
  opacity: 0.6;
}

.create-new-button:hover {
  background-color: #fff;
}

/* blogform ENDS*/
/*----------------------------------*/
/* users Page STARTS */

.users-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-content: space-evenly;
  width: 70%;
  height: 15vh;
}

.table-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  height: 10vh;
}

.table-container p {
  padding-left: 120px;
  font-family: 'Lora', serif;
  font-weight: 200;
}

.table-container a {
  color: #464646c7;
  padding-right: 80px;
  font-family: 'Libre Baskerville', serif;
}

.table-container a:visited {
  color:rgba(207, 123, 185, 0.907);
}

/* users Page ENDS */

/* user page STARTS */

.user-container {
  display: flex;
  flex-direction: column;
  padding: 40px;
  margin-top: 1.1em;
  border-color: #fff;
  border: 2px solid #555;
  border-radius: 1em;
  border-color: #fff;
  background: transparent;
  backdrop-filter: blur(5px);
}

.user-header {
  font-family: 'Lora', serif;
  transform: translateY(-60%);
  text-align: center;
}

.user-container li {
  font-family: 'Libre Baskerville', serif;
  color: rgba(0, 0, 0, 0.519);
}

/* user page ENDS */

/* blog page STARTS */

.blog-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blog-wrapper div {
  padding: 3px;
}

.like-button {
  margin-left: 10px;
  width: 40px;
  border-radius: 4px;
  cursor: pointer;
}

.title-author-header {
  transform: translateY(-50%);
}

.remove-button {
  padding: 0px 8px;
  background-color: rgba(255, 85, 85, 0.796);
  color: #fff;
}

.remove-button:hover {
  background-color: rgba(255, 85, 85, 0.944);
}

/* blog page ENDS */
/*-----------------------------*/
/* commentform STARTS */

.comment-container {
  display: flex;
  justify-content: center;
}

.comment-input {
  position: relative;
  border-radius: 4px;
  border: none;
  font-size: 16px;
}

.comment-button {
  border: none;
  cursor: pointer;
  background-color: transparent;
  margin-left: 5px; 
}

.comment-button i {
  font-size: 30px;
}

.comment-wrapper li {
  margin: 5px 0 5px 1em;
}

.comment-wrapper p {
  margin-left: 3px;
}
/* commentsform ENDS */